{{!< default}}

{{!-- The main content --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="post-feed">
            {{!-- The loop partial --}}
            {{#foreach posts}}
                {{> "loop"}}
            {{/foreach}}
        </div>
    </div>
</main>